.asd{color: brown; background-color: chartreuse;
    font-family: 'Qahiri', sans-serif;
    transform:rotate(1deg);
}
.qwe{color: orange; background-color: mediumpurple;
    margin-top: 4%;
}
.navbar{background-color: yellowgreen; }


.ert{position: absolute;
    z-index: -1;
}
.zxc{transform: rotate(12deg);
}

